.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.App__button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 700px;
    min-width: 400px;
    height: 400px;
}

.App__list {
    list-style: none;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 450px;
    min-height: 400px;
    max-height: 400px;
    border-radius: 10px;
    padding: 20px 20px;
    overflow-y: auto;
}

.App__list-el {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: space-around;
}

.App__list-el:not(:last-child) {
    border-bottom: 1px solid cornflowerblue;
}


.App__log-paragraph {
    text-align: start;
    font-size: 20px;
}

.App__number-paragraph {
    font-weight: bold;
    font-size: 20px;
}